:root {
  --color-main-text: #f8f8f2;
  --color-main-background: #373949;
  --color-main-background-translucent: #373949cc;
  --gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
  --color-background-hover: #2d2e3b;
  --color-background-dark: #282a36;
  --color-background-darker: #1e2029;
  --color-placeholder-light: #e6e6e6;
  --color-placeholder-dark: #cccccc;
  --color-primary: #000000;
  --color-primary-hover: #333333;
  --color-primary-light: #e6e6e6;
  --color-primary-light-hover: gainsboro;
  --color-primary-text: #f8f8f2;
  --color-primary-text-light-muted: #cccccc;
  --color-primary-light-text: #f8f8f2;
  --color-primary-text-light: var(--color-primary-light-text);
  --color-primary-text-dark-muted: #292b36;
  --color-primary-text-dark: #1e2029;
  --color-primary-element: #282a36;
  --color-primary-element-hover: #333333;
  --color-primary-element-light: #262626;
  --color-primary-element-lighter: #d9d9d9;
  --color-error: #ff5555;
  --color-error-hover: #ff9999;
  --color-warning: #ffb86c;
  --color-warning-hover: #f7c38c;
  --color-success: #51fd7c;
  --color-success-hover: #94ffaf;
  --color-accent: #bd93f9;
  --color-accent-hover: #caa3ff;
  --color-text-maxcontrast: #767676;
  --color-text-light: var(--color-primary-light-text);
  --color-text-lighter: var(--color-primary-light-text);
  --image-logo: url('/apps/theming/image/logo?v=32');
  --image-login-background: url('/apps/theming/image/background?v=32');
  --image-logoheader: url('/apps/theming/image/logoheader?v=32');
  --image-favicon: url('/apps/theming/image/favicon?v=32');
  --color-loading-light: #cccccc;
  --color-loading-dark: #444444;
  --color-box-shadow: rgba(77, 77, 77, 0.5);
  --color-border: #1e2029;
  --color-border-dark: #1e2029;
  --border-radius: 6px;
  --border-radius-large: 10px;
  --border-radius-pill: 80px;
  --font-face: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Cantarell, Ubuntu, Helvetica Neue, Arial, Noto Color Emoji, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --default-font-size: 15px;
  --default-line-height: 24px;
  --animation-quick: 100ms;
  --animation-slow: 300ms;
  --header-height: 50px;
}
